<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/google.css">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <button href="/oauth2/authorization/github" class="login-with-github-btn">Login via GitHub</button>  <br> <br>
    <button  href="/oauth2/authorization/google" class="login-with-google-btn">Login via Google</button>  <br> <br>
    <button  href="/oauth2/authorization/facebook" class="login-with-facebook-btn">Login via Facebook</button>  <br> <br>
</div>
</body>
</html>
